div.container {
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 0.5em;
}
.card {
  border: 1px solid #f2f2f2;
  border-radius: 0.5em;
  background: #fff;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.6);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px
}
.text-center {
  text-align: center;
}
.float-left {
  float: left;
}
.button {
  color: white;
  padding: 12px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
/* colors */
.bg-gray-light {
  background-color: #f2f2f2;
}
.bg-primary {
  color: white;
  background-color: #4daf50
}
.bg-danger {
  color: white;
  background-color: #ff0000
}
.bg-success {
  color: white;
  background-color: #0b7dda
}
.bg-warning {
  color: #000;
  background-color: #ffbf00;
}

.float-child {
  width: 40%;
  float: left;
  padding: 10px 25px 0 0;
}

/* Text */
.small {
  font-size: 0.8em;
}
a {
  text-decoration: none;
}
.title-text {
  font-weight: bold;
  font-size: 1.5em;
}
.text-bold {
  font-weight: bold;
}
.text-decoration-none {
  text-decoration: none;
}

/* Navigation links */
.nav-link a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.nav-link a:hover{
  color: #004FD0;
  transition: color 1s;
  text-decoration: underline;
}
nav .active {
  color: #004FD0;
}

/* Margins */
.mt-1 {
  margin-top: 1em;
}
.mb-1 {
  margin-bottom: 1em;
}
.ml-1 {
  margin-left: 1em;
}
.mr-1 {
  margin-right: 1em;
}

/* Paddings */
.p-1 {
  padding: 1em;
}
.ph-1 {
  padding: 0 1em;
}

/* Inputs */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  border-radius: 0.5em;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 20px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.list-group-item.list-active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Search Box*/
/* Style the search field */
form.search-form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Style the submit button */
form.search-form button {
  float: left;
  width: 25%;
  padding: 10px;
  color: gray;
  background-color: #fff;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin: 8px 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

form.search-form button:hover {
  background: #0b7dda;
  color: #fff
}

/* Clear floats */
form.search-form::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 60%;
  }
  .float-child {
    padding: 10px 30px 0 0;
  }
}

/* Footer */
.footer {
  padding: 4px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
/* Animation */
.fade {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }